.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #23286b;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 2.4em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.bg-dark {
  margin-top: 69px;
  padding-top: 30px;
  padding-bottom: 99px;
  background-color: rgba(93, 91, 91, 0.06);
  color: rgba(0, 0, 0, 0.82);
}

.section.hero {
  display: block;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.footer {
  padding-bottom: 60px;
}

.section.hero-copy {
  display: block;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3-columns {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.card-description {
  margin-bottom: 16px;
}

.bg-dark {
  background-color: #23286b;
  color: #fff;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-flex.wide {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.primary-button {
  position: relative;
  left: 30%;
  top: -29px;
  right: 30%;
  width: 40%;
  margin-top: 30px;
  padding: 16px 36px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #ef5402;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: #d59f00;
}

.featured-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-2-columns {
  display: -ms-grid;
  display: grid;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.grid-2-columns.last {
  margin-bottom: 0px;
}

.grid-2-columns.mobile-inverted {
  margin-bottom: 1px;
  grid-column-gap: 60px;
  grid-row-gap: 15px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 52px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  text-align: left;
}

.footer-label {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 1em;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #23286b;
  text-decoration: none;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.call-to-action-wrapper {
  padding-right: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pill {
  margin-bottom: 12px;
  padding: 6px 16px;
  border: 2px solid #428cfb;
  border-radius: 20px;
  color: #428cfb;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}

.nav-link:hover {
  color: #428cfb;
}

.nav-link.w--current {
  color: #428cfb;
}

.brand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: #23286b;
  font-size: 1.2em;
  font-weight: 700;
}

.nav-menu {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.feature-link {
  margin-top: 20px;
  border-bottom: 2px solid #428cfb;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #428cfb;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

.feature-link:hover {
  border-bottom-color: #1372ff;
  color: #1372ff;
}

.lightblue {
  color: #428cfb;
}

.footer-brand {
  color: #23286b;
  font-weight: 700;
  text-decoration: none;
}

.text-block {
  font-size: 1.2em;
}

.cta {
  padding-top: 80px;
  padding-bottom: 80px;
}

.cta.bg-dark {
  background-color: rgba(93, 91, 91, 0.14);
}

.subfooter {
  font-size: 0.8em;
  text-align: center;
}

.div-block {
  width: 80px;
  height: 1px;
}

.heading {
  color: #232bbb;
  font-size: 80px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.claim1 {
  position: absolute;
  top: -46.2826px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #660f6c;
  font-style: normal;
  font-weight: 800;
}

.subclaim {
  position: absolute;
  top: 186.9739px;
  color: #fff;
}

.container-2 {
  position: relative;
}

.div-block-2 {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 420px;
  margin-bottom: -1px;
  background-color: #ef5402;
}

.image {
  position: absolute;
  top: 50%;
  z-index: 0;
  margin-top: 51px;
}

.image.sm-not {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  margin-top: 5px;
  -o-object-fit: contain;
  object-fit: contain;
}

.bold-text {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Oswald, sans-serif;
  color: #000;
  font-weight: 700;
}

.superclaim {
  margin-top: -53px;
  margin-bottom: 3px;
  color: #000;
}

.column {
  top: 29px;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.button {
  position: absolute;
  top: 12px;
  background-color: #ef5402;
  font-size: 16px;
  font-weight: 500;
}

.disabled {
  background-color: transparent;
  color: transparent;
}

.div-block-3 {
  position: static;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 60px;
  float: none;
  background-color: #e01414;
}

.column-2 {
  top: -44px;
  margin-top: 45px;
}

.div-block-4 {
  position: static;
  left: 20%;
  right: 20px;
  display: block;
  width: 30%;
  margin: -61px auto 0px;
  padding: 10px;
  float: none;
  clear: left;
  background-color: #ef5402;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: perspective(1098px);
  transform: perspective(1098px);
  color: #fff;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.heading-2 {
  position: relative;
  left: auto;
  right: auto;
  margin-top: 0px;
  margin-bottom: 11px;
  padding-top: 0px;
  padding-bottom: 9px;
  padding-left: 25px;
  float: none;
  clear: both;
  border-bottom: 2px solid #ef5402;
  font-family: 'DM Sans', sans-serif;
  font-size: 36px;
  font-weight: 500;
  background-clip: border-box;
}

.square {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: -24px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  clear: none;
  background-color: #ef5402;
}

.square.square-in-grid {
  margin-right: 25px;
}

.button-2 {
  width: 24px;
  height: 24px;
  padding: 0px;
  background-color: #ef5402;
  color: #ef5402;
  font-size: 16px;
  text-align: left;
  text-decoration: overline;
}

.heading-3 {
  margin-bottom: 28px;
  padding-bottom: 9px;
  padding-left: 25px;
  border-bottom: 2px solid #ef5402;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-size: 36px;
  font-weight: 500;
}

.image-2 {
  position: relative;
  left: 30%;
  right: 30%;
  overflow: visible;
  max-width: 40%;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-3 {
  position: relative;
  left: 30%;
  right: 30%;
  display: block;
  max-width: 40%;
}

.heading-4 {
  color: #000;
}

.grid {
  grid-auto-flow: row dense;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-block-2 {
  color: #000;
  font-weight: 500;
}

.div-block-4-copy {
  position: static;
  left: 20%;
  right: 20px;
  display: block;
  width: 35%;
  margin: 20px auto 0px;
  padding: 10px;
  float: none;
  clear: left;
  background-color: #ef5402;
  color: #fff;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.section-2 {
  margin-top: 50px;
}

.div-block-2-copy {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 120px;
  margin-bottom: -1px;
  background-color: #ef5402;
}

.section-copy {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-copy.bg-dark {
  margin-top: 69px;
  padding-top: 30px;
  padding-bottom: 99px;
  background-color: rgba(93, 91, 91, 0.06);
  color: rgba(0, 0, 0, 0.82);
}

.section-copy.hero {
  display: block;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-copy.footer {
  padding-bottom: 60px;
}

.section-copy.hero-copy {
  display: block;
  height: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.claim1-copy {
  position: absolute;
  top: -46.2826px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #660f6c;
  font-style: normal;
  font-weight: 800;
}

.bold-text-copy {
  position: static;
  padding-left: 25px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Oswald, sans-serif;
  color: #000;
  font-weight: 700;
}

.section-copy2 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-copy2.bg-dark {
  margin-top: 69px;
  padding-top: 30px;
  padding-bottom: 99px;
  background-color: rgba(93, 91, 91, 0.06);
  color: rgba(0, 0, 0, 0.82);
}

.section-copy2.hero {
  display: block;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-copy2.footer {
  padding-bottom: 60px;
}

.section-copy2.hero-copy {
  display: block;
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3-columns-copy {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.subclaim-copy {
  position: absolute;
  top: 186.9739px;
  margin-top: -136px;
  margin-left: 0%;
  padding-left: 27px;
  color: #fff;
}

.text-span-copy {
  display: inline-block;
}

.heading-2-copy {
  position: relative;
  left: auto;
  right: auto;
  margin-top: 0px;
  margin-bottom: 11px;
  padding-top: 0px;
  padding-bottom: 9px;
  padding-left: 0px;
  float: none;
  clear: both;
  border-bottom: 2px solid #ef5402;
  font-family: 'DM Sans', sans-serif;
  font-size: 36px;
  font-weight: 500;
  background-clip: border-box;
}

.feature-link-copy {
  margin-top: 20px;
  border-bottom: 2px solid #428cfb;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

.feature-link-copy:hover {
  border-bottom-color: #1372ff;
  color: #1372ff;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 1px;
    padding-bottom: 100px;
  }

  .section.bg-dark {
    margin-top: 0px;
  }

  .section.hero {
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .section.hero-copy {
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .container-flex.call-to-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .primary-button {
    z-index: 8;
    margin-top: auto;
    padding-right: 0px;
    padding-left: 0px;
    color: #fff;
    text-align: center;
  }

  .footer-label {
    color: #000;
  }

  .footer-link {
    color: #000;
  }

  .call-to-action-wrapper {
    margin-bottom: 40px;
    padding-right: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .cta.bg-dark {
    background-color: rgba(93, 91, 91, 0.06);
  }

  .menu-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translate(18px, 0px);
    -ms-transform: translate(18px, 0px);
    transform: translate(18px, 0px);
  }

  .heading {
    font-size: 55px;
  }

  .div-block-2 {
    height: 320px;
  }

  .image.sm-not {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    overflow: visible;
    margin-top: auto;
    margin-bottom: auto;
  }

  .bold-text {
    font-size: 48px;
  }

  .column {
    top: 113px;
    margin-top: -146px;
    margin-bottom: auto;
    padding-bottom: 0px;
  }

  .disabled {
    display: block;
    background-color: transparent;
    color: transparent;
  }

  .div-block-4 {
    width: 75%;
    margin-top: auto;
  }

  .heading-4 {
    position: relative;
  }

  .grid {
    grid-auto-flow: row dense;
    grid-row-gap: 16px;
    grid-template-areas: "Area-3"
      "Area"
      "Area-2";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-rows: auto auto auto;
  }

  .text-block-2 {
    color: #000;
    font-weight: 500;
    text-align: left;
  }

  .div-block-4-copy {
    width: 75%;
    margin-top: 70px;
  }

  .list {
    color: #000;
  }

  .text-block-3 {
    color: #000;
  }

  .columns {
    display: block;
    margin-bottom: auto;
  }

  .grid-2 {
    grid-template-areas: "."
      "Area";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-3 {
    position: static;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-2 {
    margin-top: 24px;
  }

  .div-block-2-copy {
    height: 100px;
  }

  .section-copy {
    padding-top: 1px;
    padding-bottom: 100px;
  }

  .section-copy.bg-dark {
    margin-top: 0px;
  }

  .section-copy.hero {
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .section-copy.hero-copy {
    height: 120px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .bold-text-copy {
    display: block;
    margin-top: -6px;
    padding-left: 25px;
    font-size: 48px;
  }

  .section-copy2 {
    padding-top: 1px;
    padding-bottom: 100px;
  }

  .section-copy2.bg-dark {
    margin-top: 0px;
  }

  .section-copy2.hero {
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .section-copy2.hero-copy {
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section.bg-dark {
    margin-top: 40px;
  }

  .section.hero {
    height: 380px;
    padding-bottom: 0px;
  }

  .section.hero-copy {
    height: 380px;
    padding-bottom: 0px;
  }

  .container-flex {
    padding-right: 24px;
    padding-left: 24px;
  }

  .primary-button {
    left: 25%;
    right: 25%;
    width: 50%;
    padding-right: 16px;
    padding-left: 16px;
    color: #fff;
  }

  .featured-text {
    margin-bottom: 40px;
  }

  .grid-2-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-2-columns.mobile-inverted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .brand {
    padding-left: 0px;
  }

  .footer-brand {
    margin-bottom: 20px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .subfooter {
    text-align: left;
  }

  .subclaim {
    top: 105.9739px;
  }

  .div-block-2 {
    height: 250px;
  }

  .image.sm-not {
    position: relative;
    display: none;
    overflow: visible;
    width: 200px;
    height: 222px;
    max-width: 55%;
    margin-bottom: auto;
    float: right;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .bold-text {
    position: relative;
    display: inline;
    overflow: auto;
  }

  .superclaim {
    margin-top: -44px;
  }

  .column {
    top: 55px;
  }

  .disabled {
    display: none;
  }

  .div-block-3 {
    position: static;
    left: auto;
    right: auto;
    width: 100%;
    height: 250px;
    float: left;
    clear: right;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .column-2 {
    left: auto;
  }

  .grid {
    margin-top: 50px;
    grid-template-areas: "Area-3"
      "Area"
      "Area-2";
  }

  .div-block-4-copy {
    margin-top: 33px;
  }

  .section-2 {
    margin-top: 0px;
  }

  .text-span {
    display: inline-block;
    margin-top: 4em;
  }

  .div-block-2-copy {
    height: 60px;
  }

  .section-copy {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-copy.bg-dark {
    margin-top: 40px;
  }

  .section-copy.hero {
    height: 380px;
    padding-bottom: 0px;
  }

  .section-copy.hero-copy {
    height: 70px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .bold-text-copy {
    position: relative;
    display: block;
    overflow: visible;
    margin-top: -6px;
  }

  .section-copy2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-copy2.bg-dark {
    margin-top: 40px;
  }

  .section-copy2.hero {
    height: 380px;
    padding-bottom: 0px;
  }

  .section-copy2.hero-copy {
    height: 380px;
    padding-bottom: 0px;
  }

  .subclaim-copy {
    top: 105.9739px;
  }

  .text-span-copy {
    display: inline-block;
    margin-top: 4em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.4em;
  }

  .section {
    padding: 80px 10px;
  }

  .section.hero {
    height: 350px;
  }

  .section.hero-copy {
    height: 350px;
  }

  .grid-3-columns {
    grid-column-gap: 20px;
  }

  .primary-button {
    left: 10%;
    right: 10%;
    width: 80%;
    padding-right: 32px;
    padding-left: 31px;
  }

  .grid-2-columns.mobile-inverted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .footer-menu {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-label {
    margin-top: 15px;
  }

  .feature-heading {
    font-size: 2em;
    line-height: 1;
  }

  .footer-brand {
    margin-bottom: 20px;
  }

  .cta.bg-dark {
    padding-top: 12px;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .claim1 {
    margin-top: 65px;
  }

  .div-block-2 {
    height: 250px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .image.sm-not {
    display: none;
    margin: 82px auto 1px;
  }

  .bold-text {
    display: block;
    overflow: visible;
    margin-top: -40px;
    margin-left: 4px;
  }

  .superclaim {
    text-align: left;
  }

  .column {
    margin-top: 5px;
  }

  .div-block-4 {
    left: 15%;
    right: 15px;
    width: 70%;
    font-size: 16px;
    text-align: center;
  }

  .heading-3 {
    text-decoration: none;
  }

  .heading-4 {
    margin-bottom: 60px;
  }

  .grid {
    grid-row-gap: 0px;
    grid-template-areas: "Area-3"
      "Area"
      "Area-2";
    -ms-grid-rows: auto 0px auto 0px auto;
    grid-template-rows: auto auto auto;
  }

  .text-block-2 {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }

  .div-block-4-copy {
    left: 22%;
    right: 22px;
    width: 56%;
    margin-top: 26px;
    font-size: 16px;
    text-align: justify;
  }

  .bold-services {
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 500;
  }

  .div-block-2-copy {
    height: 60px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .section-copy {
    padding: 80px 10px;
  }

  .section-copy.hero {
    height: 350px;
  }

  .section-copy.hero-copy {
    height: 70px;
  }

  .claim1-copy {
    margin-top: 55px;
  }

  .bold-text-copy {
    display: block;
    overflow: visible;
    margin-top: -40px;
    margin-left: 4px;
  }

  .section-copy2 {
    padding: 80px 10px;
  }

  .section-copy2.hero {
    height: 350px;
  }

  .section-copy2.hero-copy {
    height: 350px;
  }

  .grid-3-columns-copy {
    grid-column-gap: 20px;
  }
}

#w-node-8d7c0722ac48-7e754f62 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-db6d4f23ee45-a643bbc7 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-e69d73dfaa18-7e754f62 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-d60cd7993e10-7e754f62 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-8d7c0722ac48-7e754f62 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-80ea8324bffb-a643bbc7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-80ea8324c003-a643bbc7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

html{visibility: visible;opacity:1;}